html{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
}

body{
	font-family: 'OldNewsPaper';
  background-color: black;
  max-width: 100%;
  color: #f2f2f2;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

@font-face {
    font-family: Verve;
    src: url(../fonts/Verve.ttf);
}

@font-face {
    font-family: OldNewsPaper;
    src: url(../fonts/OldNewspaperTypes.ttf);
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1{
  font-family: 'Verve';
  font-size: 60px;
}

h2{
  font-size: x-large;
}

h3{
  font-size: large;

}

h4{
  font-size: medium;
}

h5{
  font-size: small;
}

.logo{
	text-align: center;
	width: 350px;
}

.video-container {
    height: 100vh!important;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.video-container .caption {
  position: relative;
  text-align: center;
}

.caption{
    align-items: center!important;

}

a {
  color: #f2f2f2;
}

a:hover{
  color:  #f2f2f2;
}

.social{
  margin-right: 10px;
  margin-left: 10px;
  width: 35px;
}

.btn{
  font-size: small;
  color: black;
  background-color: #f2f2f2;
  border-color: #f2f2f2!important;
  border: solid;
  border-width: thin;
  border-radius: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.btn:hover{
  color: #ffffff;
  background-color: #108e3e;
  border-color: #108e3e!important;
}

.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.btn2{
  font-size: small;
  color: white;
  background-color: transparent;
  border-color: #f2f2f2!important;
  border: solid;
  border-width: thin;
  border-radius: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.btn2:hover{
  color: #ffffff;
  background-color: #108e3e;
  border-color: #108e3e!important;
}

.btn2:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}



.join-us{
  background-image: url("../img/backgrounds/black.png");
  background-size: cover;
}

.menux{
  background-color: black;
  background-size: cover;
}

.form-control{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  color: white;
  border-color: #f2f2f2;
}

.form-control:focus, .form-control:active{
  background-color: transparent !important;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
      color: whitesmoke;
} 


option{
  color: darkslategray;
}
.optiontext{
  color: #f2f2f2!important;
}


.join{
  width: 300px;
}

 .map-container{
  overflow:hidden;
  position:relative;
  height: 0;
  }

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
    filter: grayscale(100%) brightness(1) invert(100%);

}

@media only screen and (max-width: 760px){

  .video-container{
    height: fit-content!important;
  }

  .footer{
    text-align: center!important;
  }

 }

 /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2f2f2 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #108e3e;
}

.footer{
  background-color: #060606;
  height: fit-content;
  font-size: small;
  color: #d2cfca;
}

.menu-dish{
  height: 80vh;
  background-image: url("../img/dish.jpg");
  background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.menu-drinks{
  height: 80vh;
  background-image: url("../img/drink.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.menu-brunch{
  height: 80vh;
  background-image: url("../img/brunch.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.icon-size{
  vertical-align:bottom;
  font-size: 22px;
  color: #108e3e;
}

.home-logo{
  width: 120px;
  filter: invert(100%);
}

.home-logo2{
  width: 250px;
  filter: invert(100%);
}

.footer a{
  color: white;
}

.footer a:hover{
  text-decoration: none;
  color: #108e3e;
}

.centering{
  text-align: center;
}

.social-iconf{
  width: 20px;
  height: 20px;
  filter: invert(100%);
  margin-bottom: 20px;
  transition: .5S;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.9);
  font-size: medium;
  color:#fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,1);
}

.navbar-nav>a{
  color:#ffffff;
  font-size: medium;
  transition: .5s;
}

.navbar-nav>a:hover{
  color:#ffffff!important;
  transform: translateY(-2px);
}

.navbar-toggler{
  border: none;
}

.navbar-toggler:focus, .navbar-toggler:active{
  border: none!important;
  outline: none !important;
  box-shadow: none;
}
