body{
	background-color: #000;
	color: #d2cfca;
	font-family: 'OldNewsPaper';
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-attachment: fixed;
}

::selection {
	background: #a17f37;
	color: #ebebeb;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ebebeb;
}

section {
	scroll-margin-top: 115px; /* Ajuste de desplazamiento para el navbar */
}

@font-face {
	font-family: Verve;
	src: url(../fonts/Verve.ttf);
}

@font-face {
	font-family: OldNewsPaper;
	src: url(../fonts/OldNewspaperTypes.ttf);
}

@font-face {
	font-family: Oceanside;
	src: url(../fonts/Oceanside.ttf);
}


div {
	margin: 0!important;
	padding: 0!important;
}

h1 span{
	background-color: #000;
}

.navbar{
	background-color: rgba(0, 0, 0, 1);
	background-image: url("../img/backgrounds/bg-black.png");
	background-size: cover;
	background-position: left;
	font-size: 1.25rem;
	z-index: 3;
	border-bottom: .2rem solid rgba(0, 0, 0, .1);
	color:#d6b379;
	height: fit-content;
	text-transform: uppercase;
	filter: drop-shadow(0 0 0.75rem #000);

}

h2, .footer h3{
	text-transform: uppercase;
}

.nav-link {
	color: #d6b379;
}

.nav-link:hover, .nav-link:focus {
	text-decoration: none;
	color: #ebebeb;
}


.social-icont:hover{
	color: #f2f2f2;
}

.home {
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 50%;
	pointer-events: none;
	z-index: 1;
	filter: grayscale(100%);
}

.home-logo {
	margin-top: -5rem;
	height: 25rem;
	z-index: 2;  
	pointer-events: none;
	position: absolute; 
	top: 50%;      
	left: 50%;
	transform: translate(-50%, -50%);
}


.img-home {
	width: 100%!important;
	height: auto;
}


.nav-logo{
	width: 10rem;
}


.img-border{
	border: solid;
	border-width: .2rem;
	border-color: transparent;
}

.img-gallery{
	display: block;
	width: 100%;
	height: auto!important;
	transition: 0.5s ease;
	overflow: hidden;
	z-index: 2;
	cursor: pointer;
}

.img-mrg{
	padding-right:0;
	padding-left:0;
	overflow: hidden;
}

.img-mrg:hover .img-gallery:hover{
	transform:scale(1.10);
}

.about{
	height: fit-content;
	text-align: center;
	background-image: url("../img/backgrounds/bg-black.png");
}

.about h1{
	color: #D6B379;
}

.about p{
	color: #ebebeb;
}

.events{
	height: fit-content;
	text-align: center;
	background-image: url("../img/backgrounds/bg-white.jpeg");
	background-size: cover;
}


.events h3{
	font-family: "Verve";
	color: #000;
	font-size: 3.2rem;
}

.subtext{
	font-size: 1.5rem;
	color: #000;
}

.gallery{
	height: fit-content;
	background-image: url("../img/backgrounds/bg-black.png");
	background-size: cover;
}

.album{
	height: fit-content;
	background-image: url("../img/backgrounds/bg-white.jpeg");
	background-size: cover;
}

.album h1{
	color: #000;
}


.menu{
	height: fit-content;
	background-image: url("../img/backgrounds/bg-white.jpeg");
	background-size: cover;
}

.menu h1{
	color: #000;
}

#menu a{
	text-decoration: none;
}


.visit{
	height: fit-content;
	background-image: url("../img/backgrounds/bg-white.jpeg");
	background-size: cover;
	text-align: center;
}

.about h2, .events h2, .gallery h2, .visit h2{
	font-size: 4rem;
}

.album p{
	color: #000;
	font-weight: bold;
}

.visit p{
	color: #000;
	font-weight: bold;
}


.events a{
	color: #D6B379;
}

.img-event{
	filter: drop-shadow(0 0 0.75rem #000);
	border: solid thin #ebebeb;
}

.owl-two{
	text-align: left;
}

.events .gold, .visit .gold, .album .gold{
	color: #b69969;
}

.events p{
	font-weight: bold;
}

.gold{
	color: #D6B379;
}

.alto{
	width: 150px;
}

.newsletter{
	height: fit-content;
	text-align: center;
	color: #f2f2f2;
}

.contact{
	height: 100vh;
	background-color: #D6B379;

}


h1{
	font-size: 5rem;
	font-family: "Verve";
	color: #f9f9f9;
}

p {
	font-size: 1.8rem;
}

.copy{
	font-size: .6rem;
}


.btn{
	color: #D6B379;
	background-color: transparent;
	border: solid thin #D6B379;
	border-radius: 0;
	transition: .5s;
	font-size: 1.2rem;
	padding: 10px;
	width: 300px;
	text-transform: uppercase;
}

.btn:hover{
	color: #000;
	font-weight: bold;
	border-color: #D6B379;
	background-color: #D6B379;
}

.events .btn, .visit .btn{
	color: #ebebeb;
	background-color: #000;
	border: solid thin #000;
}

.events .btn:hover, .visit .btn:hover{
	color: #000;
	font-weight: bold;
	border-color: #D6B379;
	background-color: #D6B379;
}

.btn:focus, .btn:active, .btn:hover{
	box-shadow: none!important;
	outline: 0;
}

.footer-logo{
	height: 10rem;
}


h2{
	font-family: 'Verve';
	font-size: 3.5rem;
	color: #000;
}


.op-show{
	display: block;
	transform: translateX(-80px)!important;
}

.op-hide{
	display: none;
}


.contact h1{
	font-size: 80px;
	display: inline;
}


.news{
	height: fit-content;
}

.text-center{
	bottom: 0;
	top: 45%;
}


.alto-logo{
	width: 180px;
}



.jrhm{
	background-color: #080808;
}

.align-items-center {
	display: flex; 
	align-items: center;  /*Aligns vertically center */
	justify-content: center; /*Aligns horizontally center */
}

.navicon{
	width: 45px;
}

.icon-logo{
	width: 8.5rem;
}

.navicon:hover{
	opacity: .7;
}

.arrow-size{
	font-size: xx-large	;
	user-select: none;
}

.icon-size{
	vertical-align:bottom;
	font-size: 22px;
	color: #D6B379;
	font-weight: bold;
}


.social-iconf{
	font-size: 2.5rem;
	transition: .2s;
	margin: 1rem;
	color: #D6B379;
}

.social-iconf:hover{
	transform: translateY(-2px);
	color: #ebebeb;
}



.centering{
	text-align: center;
}


option{
	background-color: #000000!important;
}

.form-border{
	border: solid!important;
	border-color: black;
	border-width: 2px!important;
}

::placeholder{
	color: #f2f2f2!important;
}

.map-container{
	overflow:hidden;
	position:relative;
	height: 50vh;
	filter: drop-shadow(0 0 0.75rem #000);
}

.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	border: solid thin #ebebeb;
}

.navbar-toggler { 
	margin: 0 auto;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214,180,123, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	margin-right: -1em;
} 


.custom-toggler:focus, .custom-toggler:active, .custom-toggler:hover{
	box-shadow: none!important;
	outline: 0;
}


.footer{
	height: fit-content;
	background-image: url("../img/backgrounds/bg-black.png");
	background-size: cover;
	color: #d2cfca;
}

.footer b{
	font-size: medium;
}

.img-footer{
	width: 200px;
}


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #D6B379;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #D6B379;
}



.imgx{
	position: relative;
	width: 240px;
	height: 370px;
	transition: 1s;
	filter: saturate(10%);
}

.buttxn {
	position: absolute;
	width: 240px;
	height: 370px;
	transition: 1s;
	background-color: rgba(0,0,0,.5);
}

.buttxn:hover {
	background-color: rgba(0,0,0,.1);
}

hr {
	width: 30%;
	border-top: thin solid #e8e4d8;
	margin: auto;
	background-color: transparent;
	opacity: .1;
}

.mito-hr{
	width: 50px;
	margin: 25px;
}

.menu-logo{
	width: 100%;
}


.join-us{
	text-align: center;
}

.priv{
	background-image: url("../img/backgrounds/priv.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.priv p{
	font-size: 1.2rem;
}

.top-space{
	height: 5rem;
}


input, .form-control {
	margin-top: 10px;
	padding: 10px;
	color: #ebebeb;
	background-color: rgba(0, 0, 0, .8);
	border: thin solid #e8e4d8;
	text-align: center;
	width: 100%;
	color-scheme: dark;
}

input:focus, .form-control:focus,
input:active, .form-control:active {
	background-color: #F1F7EE;
	box-shadow: none!important;
	border-color: #F1F7EE;
	color: #304347;
}



label{
	color: #ebebeb;
	font-weight: bold;
}


::placeholder{
	color: #454645!important;
}

@keyframes loopText{
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(-100%);
	}
}

.wrap{
	display: flex;
	white-space: nowrap;
	overflow: hidden;
}

/* SCREEN */
@media only screen and (max-width: 1800px) {

	.main-logo{
		width: 15rem;
		height: auto;
	}

	.priv{
		height: fit-content;
	}

	.logo-nav {
		width: 10rem;
	}

	hr {
		width: 90%;
	}

	h1, h2 {
		font-size: 5rem;
	}

	h3, h4, p {
		font-size: 2.5rem;
	}

	.btn, .priv .btn {
		font-size: 1.2rem;
	}

	.alto {
		width: 150px;
	}
	
}

/* Tablets (768px - 1024px) */
@media only screen and (max-width: 1024px) {

	.main-logo{
		width: 15rem;
		height: auto;
	}

	.priv{
		height: fit-content;
	}

	h1, h2 {
		font-size: 4.5rem;
	}

	h3, h4, p {
		font-size: 1.5rem;
	}

	.events h3{
		font-size: 3.5rem;
	}
}

/* Teléfonos grandes (425px - 767px) */
@media only screen and (max-width: 767px) {

	.home-logo{
		width: 80%;
		height: auto;
	}

	.priv{
		height: fit-content;
	}

	.navbar.sticky-top{
		position: static!important;
	}

	.cardx h2{
		font-size: 3.5rem!important;
	}

	h1, h2{
		font-size: 3.5rem;
	}

	h3, h4 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.2rem;
	}

	.btn, .priv .btn {
		font-size: 1.2rem;
	}

}

/* Teléfonos medianos (375px - 424px) */
@media only screen and (max-width: 424px) {
	.priv{
		height: fit-content;
	}
	h1, h2 {
		font-size: 3.5rem;
	}

	h3, h4, p {
		font-size: 1.2rem;
	}

	.btn, .alt-bg .btn, .priv .btn {
		font-size: 1rem;
	}
}

/* Teléfonos pequeños (hasta 374px) */
@media only screen and (max-width: 374px) {
	.priv{
		height: fit-content;
	}
	h1, h2 {
		font-size: 3rem;
	}

	h3{
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}

	.btn, .alt-bg .btn, .priv .btn {
		font-size: 0.7rem;
	}

	.btn{
		width: 200px;
	}
}


.loop{
	animation: loopText 600s infinite linear;
	font-family: Oceanside!important;
	font-size: 36px;
}

.img-order{
	width: 4.5rem;
	height: auto;
	border-color: transparent;
	transition: .5s;
	margin: 1rem;
	border-radius: .5rem;
}

.img-order:hover{
	transform: translateY(-5px);
}

.cardx{
  position: relative;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  background-size: cover;
  border: solid thin #ebebeb;
  background-position: center;
  filter: drop-shadow(0 0 0.75rem #000);
  cursor: pointer;
  transition: .5s;
}

.cardx h2{
  font-size: 5rem;
  color: #fff;
  filter: drop-shadow(0 0 1.5rem #000);
  margin: 0!important;
}

.cardx a{
  color: #ffffff;
  text-decoration: none;
}

.cardx::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .6);
  background-size: contain;
  border-radius: 10px;
  background-repeat: no-repeat;
  z-index: 0;
  transition: .5s;
}


.cardx:hover::before{
  background-color: rgba(0, 0, 0, .15);
}

.cardx:hover{
  transform: translateY(-5px);
}


.brunch{
	background-image: url("../img/menu/brunch.jpg");
}

.dinner{
	background-image: url("../img/menu/dinner.jpg");
}

.drinks{
	background-image: url("../img/menu/drinks.jpg");
}

.happyhour{
	background-image: url("../img/menu/hh.jpg");
}

.pizza{
	background-image: url("../img/menu/pizza.jpg");
}

.kids{
	background-image: url("../img/menu/kids.jpg");
}

.grandes{
	background-image: url("../img/menu/grandes.jpeg");
}

.desserts{
	background-image: url("../img/menu/desserts.jpeg");
}

#demo {
	height:100%;
	position:relative;
	overflow:hidden;
}


.green{
	background-color:#6fb936;
}
.thumb{
	margin-bottom: 30px;
}

.page-top{
	margin-top:85px;
}


img.zoom {
	width: 100%;
	height: 200px;
	border-radius:5px;
	object-fit:cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}


.transition {
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.preview-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;
	z-index: 1050; /* Asegura que esté por encima de otros elementos */
}

.preview-overlay.active {
	opacity: 1;
	visibility: visible;
}
.preview-img {
	max-width: 85%;
	max-height: 85%;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .8);
}
.close-preview {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 3.5rem;
	color: #ebebeb;
	cursor: pointer;
}

#whappBtn {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 90;
  outline: none; 
  background-color: #080808; 
  cursor: pointer;
  font-weight: bolder;
  border-color: #fff!important;
  border: solid;
  border-width: .25rem;
  transition: 0.5s ease;
  border-radius: 100%;
  padding: 1.2rem!important;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.5rem #000);
}

#whappBtn:hover {
  background-color: #ab8f61;
  transform: translateY(-5px);
}

.whapp{
  width: 3rem;
  pointer-events: none;
}